RewriteEngine On
RewriteCond %{HTTP_HOST} !^msportals.io$ [NC]
RewriteRule ^(.*)$ https://msportals.io/$1 [L,R=301]
RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://msportals.io/$1 [R=301,L]
