{% for group in site.data.portals.[include.portal] %}

{% assign groupidx = forloop.index %}

<div class="portal-group" hidden>
    <h2>{{ group.groupName }}</h2>
    {% for portal in group.portals %}
    <div class="portal">
        <span class="portal-name">
            <span class="portal-add" id="{{groupidx}}.{{forloop.index}}">❤ </span>
            {{portal.portalName}} {% if portal.note %}
            <span class="portal-note">{{ portal.note }}</span>
            {% endif %}
        </span>
        <div class="portal-details">
            <span class="portal-url">
                <a href="{{portal.primaryURL}}" target="_blank">{{portal.primaryURL}}</a>
            </span>
            {% if portal.secondaryURLs %}
            <span class="portal-secondary-urls">
                &ensp;• {% for secondary in portal.secondaryURLs %}<a class="btn-aka-ms btn" href="{{secondary.url}}"
                    target="_blank">{{secondary.icon}}</a>&thinsp;{% endfor %}
            </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endfor %}

<script type="text/javascript">

    const data = {{ site.data.portals.[include.portal] | jsonify}}
    const portals = [].concat(...[...data.map(i => { return i.portals })])

    Array.from(document.getElementsByClassName("portal-add")).forEach((e) =>
        e.addEventListener("click", (event) => {
            let arrayLocation = event.target.id.split(".").map(i => i - 1)
            let newLink = data[arrayLocation[0]].portals[arrayLocation[1]]
            newLink.groupName = data[arrayLocation[0]].groupName
            addLinkToLocalStorage(newLink)
        })
    );
</script>