{% for group in site.data.portals.[include.portal] %}

{% assign groupidx = forloop.index %}

<div class="portal-group" hidden>
    <h2>{{ group.groupName }}</h2>
    {% for portal in group.portals %}
    {% assign icon_src = portal.iconUrl %}
    {% if icon_src == blank or icon_src == '' or icon_src == nil %}
      {% if portal.primaryURL contains 'github.com' or portal.primaryURL contains 'github.io' or portal.primaryURL contains 'githubusercontent.com' %}
        {% assign icon_src = '/images/github-mark.svg' %}
      {% else %}
        {% assign icon_src = '/images/portal-placeholder.svg' %}
      {% endif %}
    {% endif %}
    <div class="portal">
        <span class="portal-name">
            <img class="portal-icon"
                 src="{{ icon_src }}"
                 alt=""
                 loading="lazy"
                 onerror="this.onerror=null;this.src='/images/portal-placeholder.svg';" />
            <span class="portal-add" id="{{groupidx}}.{{forloop.index}}">❤ </span>
            {{portal.portalName}} {% if portal.note %}
            <span class="portal-note">{{ portal.note }}</span>
            {% endif %}
        </span>
        <div class="portal-details">
            <span class="portal-url">
                <a href="{{portal.primaryURL}}" target="_blank">{{portal.primaryURL}}</a>
            </span>
            {% if portal.secondaryURLs %}
            <span class="portal-secondary-urls">
                &ensp;• {% for secondary in portal.secondaryURLs %}<a class="btn-{{secondary.icon}} btn-secondary btn"
                    href="{{secondary.url}}" target="_blank">{{secondary.icon}}</a>&thinsp;{% endfor %}
            </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endfor %}

<script type="text/javascript">

    const data = {{ site.data.portals.[include.portal] | jsonify}}
    const portals = [].concat(...[...data.map(i => { return i.portals })])

    Array.from(document.getElementsByClassName("portal-add")).forEach((e) =>
        e.addEventListener("click", (event) => {
            let arrayLocation = event.target.id.split(".").map(i => i - 1)
            let newLink = data[arrayLocation[0]].portals[arrayLocation[1]]
            newLink.groupName = data[arrayLocation[0]].groupName
            addLinkToLocalStorage(newLink)
        })
    );
</script>