---
---

@import "{{ site.theme }}";


.nomatches {
    display:none;
    padding-top: 25px;
}

.quickfilter {
  outline: none;
  padding: 10px;
  margin: 10px 0;
  border-width: 0 0 1px;
  width: 70%;
  border-color: #b5e853;
  border-style: solid;
  background-color: transparent;
  color: #eaeaea;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}

.portal-group {
  padding: 0 0 20px 0;
}

.portal {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  line-height: 2em;
}

.portal:hover {
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.portal-name {
  word-wrap: break-word; 
  text-overflow: ellipsis; 
  overflow: hidden;
  padding-right: 5px;
  flex: 0 0 100%;
}

.portal-name:hover > .portal-add {
  display: unset;
}

.portal-name:hover > .portal-remove {
  display: unset;
}

.portal-details {
  display: flex; 
  justify-content: right;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.portal-add {
  display: none;
  cursor: pointer;
  color: red;
}

.portal-add:active {
  color: #b5e853;
}

.portal-remove {
  display: none;
  cursor: pointer;
}

.portal-remove:active {
  color: #b5e853;
}

.portal-url {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.portal-secondary-urls {
  white-space: nowrap;
}

.portal-url::before {
  content: " • ";
}

.portal-note {
  font-size: 0.8rem;
  color: #bcc7a7; 
  font-style: italic;
}

.btn-aka-ms {
  display: inline;
  padding: 2px 6px;
  margin: 4px 0px;
  background: rgba(0,120,212,0.9);
  border-radius: 50px;
  border: 2px solid rgba(0,0,0,0.7);
  color: rgba(255,255,255,0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
  box-shadow: 0 1px #444444;
}

@media (min-width: 1024px) {
  .quickfilter {
    width: 25%;
  }

  .portal {
    flex-wrap: nowrap; 
  }

  .portal-name {
    flex: initial;
  }
  
  .portal-details {
    max-width:50%
  }

  .portal-url::before {
    content: none;
  }
}
